/* ==== Font Import ====*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); /* Fira Sans */

/* ==== Variables ====*/
:root {
  /* Colors */
  --off-white: #eeeeee;
  --light-grey: #c2c1c1;
  --medium-grey: #605858;
  --dark-grey: #353131;
  --dark-green: #3b644e;
  --light-green: #8ed8bf;
  --red: #df4a4a;

  /* Fonts */
  --font-fira-sans-h1: 700 24pt/30pt "Fira Sans", sans-serif; /* Page Heading */
  --font-fira-sans-h2: 700 16pt/20pt "Fira Sans", sans-serif; /* Modul & Button Heading */
  --font-fira-sans-h3: 700 12pt/15pt "Fira Sans", sans-serif; /* Content Heading */
  --font-fira-sans-h4: 500 9pt/12pt "Fira Sans", sans-serif; /* Content Sub-Heading */
  --font-fira-sans-h5: 700 8pt/10pt "Fira Sans", sans-serif; /* Icon Heading */
  --font-fira-sans-text: 12pt/14pt "Fira Sans", sans-serif; /* Text */
}

/* ==== Reset & Normalize ==== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* === Utility Classes === */
.d-none {
  display: none;
}

.wrap {
  flex-wrap: wrap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

.text-light {
  color: var(--off-white);
  border-bottom: var(--off-white);
}

/* === Basic Styling  === */
.page {
  width: 100%;
  height: 100vh;
}

.page--light {
  background-color: var(--off-white);
}

.page--dark {
  background-color: var(--medium-grey);
}

.page--background-image {
  background-image: url(../resources/background-palm-leaves-yygs.avif);
  background-repeat: repeat;
  background-size: 350px;
  background-blend-mode: multiply;

  background-color: var(--light-green);
}

.wrapper {
  width: 100%;
  /* max-height: 100vh; */
  padding: 2rem;
}

.wrapper__flex {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper--height100 {
  height: 100%;
}

.content {
  width: 100%;
  height: auto;
  padding: 2rem;
  margin-bottom: 6rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  overflow: scroll;

  border-radius: 0.5rem;
}

.content--dark {
  background-color: var(--medium-grey);
}

.alert {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 0.1rem;
  height: 0.1rem;
  padding: 1rem;

  border-radius: 1rem;
  background-color: var(--red);
}

h1 {
  font: var(--font-fira-sans-h1);
  text-transform: uppercase;
  letter-spacing: 0.1rem;

  filter: drop-shadow(2px 2px 0px #00000030);
}

h2 {
  font: var(--font-fira-sans-h2);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

h3 {
  font: var(--font-fira-sans-h3);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

h4 {
  font: var(--font-fira-sans-h4);
  letter-spacing: 0.05rem;
}

h5 {
  font: var(--font-fira-sans-h5);
  letter-spacing: 0.1rem;
}

p {
  font: var(--font-fira-sans-text);
}

/* === Button Styling  === */
button {
  width: 100%;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  border-style: unset;

  font: var(--font-fira-sans-h2);
  text-transform: uppercase;
  letter-spacing: 0.1rem;

  cursor: pointer;

  color: var(--off-white);
  background-color: var(--dark-grey);

  transition: all 0.3s ease-in-out;
}

.button {
  width: 100%;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  border-style: unset;

  font: var(--font-fira-sans-h2);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.1rem;

  cursor: pointer;

  color: var(--off-white);
  background-color: var(--dark-grey);

  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: var(--off-white);
  color: var(--dark-grey);
}

.button--light {
  color: var(--dark-grey);
  background-color: var(--off-white);
}

.button--dark {
  color: var(--off-white);
  background-color: var(--dark-grey);
}

.button--green {
  color: var(--off-white);
  background-color: var(--dark-green);
}

.button--light-outline {
  border: 2px solid var(--off-white);
  color: var(--off-white);
  background-color: transparent;
}
/* === Index Styling  === */

.index__wrapper {
  height: 100%;
}

/* === Map Styling  === */
.map__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

.cart {
  max-width: 20%;
}

.heading-one {
  text-align: center;
  padding: 2rem;
}

.map__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.heading-one {
  text-align: center;
}

.map__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.map__img {
  width: 100%;
}

.field-title {
  font: var(--font-fira-sans-h3);
}

.field__paragraph {
  font: var(--font-fira-sans-text);
}

.field__adress {
  padding: 2rem 0rem;
}

.field__open-hours {
  padding: 0rem 0rem 2rem 0rem;
}

.field__end {
  border: none;
  height: 3px;
  background: linear-gradient(to right, transparent, #888, transparent);
  width: 100%;
}

/*ABOUT US*/

.about {
  background-color: var(--off-white);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0rem 2rem;
}

.heading-two {
  text-align: center;
}

.about__img {
  align-self: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.about-us__section {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.fa-brands {
  margin-bottom: 5rem;
}

/* === Icon Styling  === */
i {
}

/* === Logo Styling  === */
.logo--big {
  width: 200px;
}

.logo--small {
  width: 64px;
  align-self: flex-start;
}

/* === Tab bar  === */
.tab-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grey);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.tab-bar--transparant-bg {
  opacity: 80%;
}

.tab-bar__navigation {
}

.tab-bar__list-item {
  list-style: none;
  display: inline;
}

.tab-bar__link {
  padding: 1rem 1.5rem;
  display: inline-block;
  text-decoration: none;
  color: var(--dark-grey);
}

.tab-bar__icon {
  cursor: pointer;
  height: 35px;
}

.footer__location-list {
  list-style: none;
}

.footer__location-list-item {
  list-style: none;
}

/* === List Styling  === */
.list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;

  padding: 1rem 0;
}

.list-item__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
}

.list-item__hr {
  flex: 1;
  border: unset;
  border-bottom: 2px dashed;
}

.list-item__quantity-button {
  width: 100px;
  flex-shrink: 0;
  font: var(--font-fira-sans-h5);
  padding: 0.5rem 1rem;
  border-radius: 100px;
}

/* === Cart Styling  === */
.cart {
  width: 64px;

  position: absolute;
  top: 0;
  right: 0;

  margin: 2rem;
}
